@page "/ViewRecipe/{Id:int}"

@if (_recipe != null)
{
    <div class="d-flex justify-content-between">
        <div class="h4 text-center">
            @if (_editMode)
            {
                <InputText class="form-control" @bind-Value="_recipe.Title" />
            }
            else {@_recipe.Title }
        </div>
        <div>
            @if (_editMode)
            {
                <div class="btn btn-success" @onclick="UpdateRecipe">Save</div>
                <div class="btn btn-secondary" @onclick="LoadRecipe">Cancel</div>
            }
            else
            {
                <div class="btn btn-primary" @onclick="() => _editMode = true">Edit</div>
                <div class="btn btn-danger" @onclick="DeleteRecipe">Delete</div>
            }
        </div>
    </div>
    <div>
        @if (_editMode)
        {
            <InputTextArea class="form-control" rows="4" @bind-Value="_recipe.Description" />
        }
        else
        {
            <div class="p-2 fst-italic">@_recipe.Description</div>
        }
    </div>
    <div class="d-flex flex-wrap gap-4">
        <div class="d-flex gap-2">
            <div>
                @if (_recipe.Image == null)
                {
                    <img class="img-fluid" src="./images/no-image.jpg" alt="" style="max-width:400px; height: auto;" />
                }
                else
                {
                    <img class="img-fluid" src="@_imageUrl" alt="" style="max-width: 400px; height: auto;" />
                }
                @if (_editMode)
                {
                    <div class="m-2"><InputFile OnChange="@LoadFile"></InputFile></div>
                }
            </div>
            <div>
                <div class="fw-bold text-nowrap">Prep time (mins):</div>
                <div>
                    @if (_editMode)
                    {
                        <InputNumber class="form-control w-50" @bind-Value="_recipe.PrepTimeMinutes" />
                    }
                    else
                    {
                        @_recipe.PrepTimeMinutes
                    }
                </div>
                <div class="fw-bold text-nowrap">Cook time (mins):</div>
                <div>
                    @if (_editMode)
                    {
                        <InputNumber class="form-control w-50" @bind-Value="_recipe.CookTimeMinutes" />
                    }
                    else
                    {
                        @_recipe.CookTimeMinutes
                    }
                </div>
                <div class="fw-bold text-nowrap">Servings:</div>
                <div>
                    @if (_editMode)
                    {
                        <InputNumber class="form-control w-50" @bind-Value="_recipe.Servings" />
                    }
                    else
                    {
                        @_recipe.Servings
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="fw-bold">Ingredients:</div>
            @if (_editMode)
            {
                @foreach (var i in _recipe.Ingredients)
                {
                    var ingredient = i;
                    <div class="d-flex gap-1">
                        <InputText style="max-width: 600px" class="form-control" @bind-Value="@ingredient.IngredientText" />
                        <iconify-icon icon="typcn:delete" style="color: red;" width="20" height="20" role="button"
                                      @onclick=@(() => RemoveIngredient(ingredient))></iconify-icon>
                    </div>
                }
                <div class="d-flex gap-1">
                    <InputText style="max-width: 600px" class="form-control" @bind-Value="@_newIngredient.IngredientText" />
                    <iconify-icon icon="ph:plus-circle-duotone" style="color: green;" Width="32" Height="32"
                                  @onclick="AddIngredient" role="button"></iconify-icon>
                </div>
            }
            else
            {
                @foreach (var i in _recipe.Ingredients)
                {
                    <div class="text-nowrap mb-1" style="width: 400px">@i.IngredientText</div>
                }
            }
        </div>
        <div>
            <div class="fw-bold">Instructions:</div>
            @if (_editMode)
            {
                @foreach (var i in _recipe.Instructions)
                {
                    var instruction = i;
                    <div class="d-flex gap-1">
                        <InputTextArea style="max-width: 600px" class="form-control" @bind-Value="@instruction.InstructionText" rows="4" />
                        <iconify-icon icon="typcn:delete" style="color: red;" width="20" height="20" role="button"
                                      @onclick=@(() => RemoveInstruction(instruction))></iconify-icon>
                    </div>
                }
                <div class="d-flex gap-1">
                    <InputTextArea style="max-width: 600px" class="form-control" @bind-Value="@_newInstruction.InstructionText" />
                    <iconify-icon icon="ph:plus-circle-duotone" style="color: green;" Width="32" Height="32"
                                  @onclick="AddInstruction" role="button"></iconify-icon>
                </div>
            }
            else
            {
                @foreach (var i in _recipe.Instructions)
                {
                    <div class="mb-1" style="max-width: 600px">@i.InstructionText</div>
                }
            }
        </div>
    </div>
}
